<div class="container-fluid">
  <div class="row card-group">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let objeto of vehiculos">

        <div class="card">
          <img class="card-img-top img-fluid" [src]="'http://localhost/API/' + objeto.rutaFoto" alt="Vehiculo">
          <div appColor class="card-body">
            <h5 class="card-title">{{objeto.modelo}}</h5>
            <p class="card-text"><b>Marca:</b> {{objeto.marca}}</p>
            <p class="card-text"><b>Cantidad de Puertas:</b> {{objeto.cantidadPuertas}}</p>
            <app-boton [id] = "objeto.id" (borrado)="RefreshData()"></app-boton>
          </div>
        </div>
      </div>
    </div>
</div>



