<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->


<form name="juego">
  <div class = "juego">
    <div class="operacion">
        <div class="numero">
            <p style="width:50%">{{nuevoJuego.firstNumber}}</p>
         </div>
         <div class="operador">
            <p style="width:50%">{{nuevoJuego.operator}}</p>
         </div>
        <div class="numero">    
            <p style="width:50%">{{nuevoJuego.secondNumber}}</p>
        </div>
    </div>
     <div class="respuesta">
         <input [(ngModel)]="numeroIngresado" placeholder="ingresar N°" 
           name="numeroIngresado" type="number" class="form-control" autocomplete="off" style="width:50%"/>
     </div>
     
     <div class="botones">
        <h2 [hidden]="ocultarVerificar" ><button (click)="verificar()" class="btn btn-success btn-lg btn-block">Verificar {{Tiempo}} </button></h2>
      
        <h2 [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()"  class="btn btn-info btn-lg btn-block">Jugar!</button></h2>
      
     </div>
     <div class="resultado">
        <h2  [hidden]="!ocultarVerificar" style="color: white"><p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p></h2>   
        <h3 [hidden]= "nuevoJuego.gano" style="color: red;">Hay que practicar!</h3>
        <h3 [hidden]= "!nuevoJuego.gano" style="color: #00cd00;">Excelente!! Todo un matemático.</h3>

     </div>
  </div>
    
  
</form>