<div class="container h-100">
  <div class="row">
    <div class="col-12">
      <div class="contenedor col-6">
			<h4>Solicitud de turno</h4>
		  <hr>
		  <form [formGroup]="form" (keyup.enter)="Submit()">
		    <div class="form-row">
		      <div class="col">
		        <div class="form-group">
		          <label for="dni">DNI: </label>
		          <input type="number" id="dni" class="form-control" min="0" formControlName="dni" [ngClass]="{ 'is-invalid': form.controls['dni'].touched && form.controls['dni'].invalid }">
		          <div *ngIf="form.controls['dni'].touched && form.controls['dni'].invalid" class="invalid-feedback">
		            <div *ngIf="form.controls['dni'].errors.required">Debe ingresar el DNI.</div>
		          </div>
		        </div>
		      </div>
		      <div class="col">
		        <div class="form-group">
		          <label for="fecha">Fecha: </label>
		          <input type="date" id="fecha" class="form-control" min="0" formControlName="fecha" [ngClass]="{ 'is-invalid': form.controls['fecha'].touched && form.controls['fecha'].invalid }">
		          <div *ngIf="form.controls['fecha'].touched && form.controls['fecha'].invalid" class="invalid-feedback">
		            <div *ngIf="form.controls['fecha'].errors.required">Debe ingresar la fecha.</div>
		          </div>
		        </div>
		      </div>
		    </div>
		    <div class="form-row">
		      <div class="col">
		          <label for="hora">Hora: </label>
		          <input type="time" id="hora" formControlName="hora" class="form-control" [ngClass]="{ 'is-invalid': form.controls['hora'].touched && form.controls['hora'].invalid }">
		          <div *ngIf="form.controls['hora'].touched && form.controls['hora'].invalid" class="invalid-feedback">
		            <div *ngIf="form.controls['hora'].errors.required">Debe ingresar un Mail.</div>
		          </div>
		      </div>
		    </div>
		    <hr>
		    <!-- <ngx-recaptcha2 #captchaElem [siteKey]="key" [size]="'normal'" [hl]="'es'" [theme]="'light'" [type]="'image'" formControlName="recaptcha">
		    </ngx-recaptcha2>     -->
		    <small *ngIf="error" class="text-danger font-weight-bold"><i class="fa fa-times"></i> {{errorMessage}} </small>
		    <small *ngIf="success" class="text-success font-weight-bold"><i class="fas fa-check"></i> Servicio registrado
		      correctamente. </small>
		    <hr>
		    <button type="submit" class="btn btn-primary" (click)="Submit()">Solicitar</button><br>
		  </form>
      </div>      
    </div>
  </div>
</div>