<header>
  <div class="container" style="padding-top:18%;">
    <div class="row justify-content-md-center">
        <div class="col-sm-4 justify-content-md-center">
          <div class="card w-75 border-ligth bg-light mb-3" style="margin-left: 12.5%;"> 
              <div class="card-header text-center">Velocidad y agilidad aritmética</div>          
              <a  (click)="Juego('Agilidad')">
                <img class="card-img-top" src="./assets/imagenes/aritmetica.png" />
              </a>
              <div class="card-body">
                <p class="card-text">
                Juego de agilidad mental<br>UTN FRA</p>
              </div>
            </div>
        </div>
      
        <div class="col-sm-4 justify-content-md-center">
          <div class="card w-75 border-ligth bg-light mb-3" style="margin-left: 12.5%;"> 
              <div class="card-header text-center">Piedra Papel o Tijera</div>          
              <a  (click)="Juego('PiedraPapelTijera')">
                <img class="card-img-top" src="./assets/imagenes/ppt.png" />
              </a>
              <div class="card-body">
                <p class="card-text">
                  Juega contra la máquina<br>UTN FRA</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 justify-content-md-center">
          <div class="card w-75 border-ligth bg-light mb-3" style="margin-left: 12.5%;"> 
              <div class="card-header text-center">Adivina el número secreto</div>          
              <a  (click)="Juego('Adivina')">
                <img class="card-img-top" src="./assets/imagenes/adivina.png" />
              </a>
              <div class="card-body">
                <p class="card-text">
                  Juega de estrategia<br>UTN FRA</p>
              </div>
            </div>
        </div>
  
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm-4 justify-content-md-center">
          <div class="card w-75 border-ligth bg-light mb-3" style="margin-left: 12.5%;"> 
              <div class="card-header text-center">Anagrama</div>          
              <a  (click)="Juego('Anagrama')">
                <img class="card-img-top" src="./assets/imagenes/anagrama.png" />
              </a>
              <div class="card-body">
                <p class="card-text">
                  Juego de conocimientos en lengua<br>UTN FRA</p>
              </div>
            </div>
      </div>
  
      
      <div class="col-sm-4 justify-content-md-center">
        <div class="card w-75 border-ligth bg-light mb-3" style="margin-left: 12.5%;"> 
            <div class="card-header text-center">Atrapalos a todos!</div>          
            <a  (click)="Juego('Atrapalos')">
              <img class="card-img-top" src="./assets/imagenes/pokeball-circle.png" />
            </a>
            <div class="card-body">
              <p class="card-text">
                Juego de destreza motriz<br>UTN FRA</p>
            </div>
          </div>
    </div>
    </div>
  </div>


  <footer class="page-footer font-small bg-light">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://github.com/javii42"> Mollar</a>
    </div>
    <!-- Copyright -->
  
  </footer>  
</header>